extends layout

block content
  .center-align(style='margin-top: 2em;')
    a(href='#{homepageURL}')
      img.circle.z-depth-3.grow(src='#{avatarURL}' style='max-width: 10em;')
  a(href='/scrypt')
    h3.header(style='margin-top: 0.1em;')= title
  if posts
    table.highlight
      thead
        tr
          th Published on
          th Title
          th.hide-on-small-only Updated on
      tbody
        each post in posts
          tr
            td(style='width: 7em')= post.displayDate
            td
              a(href='/view/#{post.id}/#{post.slug}')= post.title
            td.hide-on-small-only(style='width: 7em')= post.displayLMDate
    .divider
    footer
      ul.pagination
        if currentPage == 1
          li.disabled
            a(href="#!")
              i.material-icons chevron_left
        else
          li.waves-effect
            a(href="/page/#{+ currentPage - 1}")
              i.material-icons chevron_left
        - for (var i = 1; i <= totalPage; i++) {
            if i == currentPage
              li.active
                a(href="/page/#{i}") #{i}
            else
              li.waves-effect
                a(href="/page/#{i}") #{i}
        - }
        if currentPage == totalPage
          li.disabled
            a(href="#!")
              i.material-icons chevron_right
        else
          li.waves-effect
            a(href="/page/#{+ currentPage + 1}")
              i.material-icons chevron_right
      a.waves-effect.waves-light.btn-large(href='/edit')
        i.material-icons.right create
        | write
  else
    p.flow-text(style='text-align: center;') No post here so far :)
    footer
      a.waves-effect.waves-light.btn-large(href='/edit')
        i.material-icons.right create
        | write
