extends layout

block content
  a(href='/')
    h1.header= title
  #edit
    a.waves-effect.waves-light.btn-large(href='/edit/#{post.id}')
      i.material-icons.right edit
      | #{post.displayDate}
  .divider
  article.flow-text !{html}
  if disqusSite
    #disqus_thread
    script.
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//#{disqusSite}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    noscript Please enable JavaScript to view the
      a(href='https://disqus.com/?ref_noscript' rel='nofollow') comments powered by Disqus.
  if recs
    h6.flow-text(style="font-weight: bold;") Recommendations
    ul
      each rec in recs
        li
          a.flow-text(href='/view/#{rec.id}/#{rec.slug}') #{rec.title}
